.card-container{
    width: 20%;
    height: 35%;
    border: 2px solid whitesmoke;
    border-radius: 10%;
    margin: 1rem auto;
    padding: 1rem 1rem;
}
.card-container h1{
    font-size: 2.5rem;
}
